<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-lg-4">
            <div class="widget navy-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-check fa-4x"></i>
                    <h1 class="m-xs">47</h1>
                    <h3 class="font-bold no-margins">
                        Successfull
                    </h3>
                </div><!-- end m-b-md -->
            </div><!-- end widget red-bg p-lg text-center -->
        </div><!-- end col-lg-4 -->

        <div class="col-lg-4">
            <div class="widget yellow-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-exclamation fa-4x"></i>
                    <h1 class="m-xs">47</h1>
                    <h3 class="font-bold no-margins">
                        Warning
                    </h3>
                </div><!-- end m-b-md -->
            </div><!-- end widget red-bg p-lg text-center -->
        </div><!-- end col-lg-4 -->

        <div class="col-lg-4">
            <div class="widget red-bg p-lg text-center">
                <div class="m-b-md">
                    <i class="fa fa-times fa-4x"></i>
                    <h1 class="m-xs">47</h1>
                    <h3 class="font-bold no-margins">
                        Notification
                    </h3>
                </div><!-- end m-b-md -->
            </div><!-- end widget red-bg p-lg text-center -->
        </div><!-- end col-lg-4 -->

    </div><!-- end row -->

    <div class="row">
        <div class="text-center">
            <h3>International Sites</h3>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Sucess</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">169</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">Failure</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">188</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Failure</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">188</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h3>Indonesia Sites</h3>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Sucess</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">169</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">Failure</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">188</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Failure</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">188</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="text-center">
            <h3>China Sites</h3>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Sucess</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">169</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">Failure</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">188</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Failure</span>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">188</h1>
                </div>
            </div>
        </div>

    </div><!-- end row -->
</div><!-- end wrapper wrapper-content animated fadeInRight -->
